<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="index.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Projeto</title>
</head>

<body>
  <form action="/add" method="post">
    <h2>Pagina de Login</h2>
    <label for="nome">name</label>
    <input type="text" name="nome" placeholder="Digite seu nome" />
    <label for="email">email</label>
    <input type="email" name="email" placeholder="Digite seu email" />
    <label for="senha">password</label>
    <input type="password" name="senha" placeholder="Digite sua senha" />
    <input type="submit" value="entrar" id="enviar" name="enviar" />
  </form>
</body>

</html>